h1 {
    font-family: 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    padding: 40px;
}

h2 {
    font-family: 'Great Vibes', Helvetica, sans-serif;
    color: floralwhite;
}

#FF1 {
    font-size: max(6vw, 50px);
}

#body {
    background-color: antiquewhite;
}

.navbar {
    background-color: oldlace;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

a:link {
    color: black;
}

#cafe:hover, #historia:hover, #fotos:hover, #contato:hover {
    transform: scale(1.05);
}

.card {
    text-align: center;
    width: 70%;
}

@media (max-width: 1100px) {
  .card {
    width: 100%;
  }
}

#poemCard {
    background-color: oldlace;
}

h5 {
    font-family: 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

#FF5 {
    font-size: max(3vw, 30px); 
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(n) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
